version: '3.8'
services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_DB: {{{DB_NAME}}}
      POSTGRES_USER: {{{DB_USERNAME}}}
      POSTGRES_PASSWORD: {{{DB_PASSWORD}}}
    ports:
      - '{{{DB_PORT}}}:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: {{{DB_PORT}}}
      DB_NAME: {{{DB_NAME}}}
      DB_USERNAME: {{{DB_USERNAME}}}
      DB_PASSWORD: {{{DB_PASSWORD}}}
      SERVER_PORT: {{{SERVER_PORT}}}
      JWT_SECRET: {{{JWT_SECRET}}}
      JWT_EXPIRATION: {{{JWT_EXPIRATION}}}
      JWT_RESET_EXPIRATION: {{{JWT_RESET_EXPIRATION}}}
      JWT_REFRESH_EXPIRATION: {{{JWT_REFRESH_EXPIRATION}}}
      CORS_ALLOWED_ORIGINS: {{{CORS_ALLOWED_ORIGINS}}}
      SPRING_PROFILES_ACTIVE: {{{SPRING_PROFILES_ACTIVE}}}
    ports:
      - '{{{SERVER_PORT}}}:8080'
    restart: always

volumes:
  pgdata:
